<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Добро пожаловать</title>
</head>
<body>
<h1>Добро пожаловать мил человек.</h1>
<tr>

    <p><a href="task/create">Добавить новую задачу.</a></p>
    <p><a href="user/createUser">Добавить пользователя</a></p>
    <p><a href="task/allTasks">Просмотреть все задачи.</a></p>
    <p><a href="user/getAllUsers">Просмотреть всех пользователей.</a></p>
    <form action="/task/getTaskById"  method="post">
        <p>Введите ID задачи для просмотра: <input type="text" name="id" /> <input type="submit" value="Выбрать"/></p>
    </form>
    <form action="user/getUserById" method="post">
        <p>Введите ID задачи для редактирования <input type="text" name="id"/>  <input type="submit" value="Выбрать"/></p>
    </form>

</tr>
</body>
</html>