<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Добро пожаловать</title>
</head>
<body>
<h1>Добро пожаловать мил человек.</h1>
<tr>

    <p><a href="/create">Добавить новую задачу.</a></p>
    <p><a href="/createUser">Добавить пользователя</a></p>
    <p><a href="/allTasks">Просмотреть все задачи.</a></p>
    <p><a href="/getAllUsers">Просмотреть всех пользователей.</a></p>
    <p><a href="/create">Просмотреть посмотреть задачу.</a></p>
    <form action="/" method="post">
        <p>Введите ID задачи для редактирования <input type="text" name="id" th:value="*{id}"/>  <input type="submit" value="Выбрать"/></p>
    </form>
    <form action="/editTask" method="post">
        <p>Введите ID задачи для редактирования <input type="text" name="id" th:value="*{id}"/>  <input type="submit" value="Выбрать"/></p>
    </form>

</tr>
</body>
</html>